* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #acd2e0;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.code img {
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.para h2 {
    font-size: 20px;
    text-align: center;
    padding: 0 10px 15px 10px;
}

.para p {
    font-size: 15px;
    color: #b9b3b3;
    text-align: center;
    padding: 0 15px 30px 15px;
}